:root {
  --background-color-primary: hsl(0.625turn 12.5% 6.25%);
  --background-color-secondary: hsl(0.625turn 12.5% 25%);
  --color-blue: blue;
  --color-green: green;
  --color-red: orangered;
  --color-yellow: gold; 
  --gradient-blue: linear-gradient(0.875turn, cornflowerblue, cyan, cornflowerblue);
  --gradient-green: linear-gradient(0.875turn, darkgreen, lime, darkgreen);
  --gradient-red: linear-gradient(0.875turn, darkred, crimson, darkred);
  --gradient-yellow: linear-gradient(0.875turn, darkgoldenrod, yellow, darkgoldenrod);
  --text-color-primary: white;
  --text-color-secondary: hsla(0.625turn 12.5% 56.25%);
}

*,
::before,
::after {
  border-width: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#battery {
  align-items: center;
  display: flex;
  /* filter: drop-shadow(0px 4px 12px black); */
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

@supports (min-height: 100dvh) {
  #battery {
    min-height: 100dvh;
  }
}

#positive {
  background-color: var(--background-color-secondary);
  border-radius: 0.5rem 0.5rem 0 0;
  height: 16px;
  width: 48px;
}

@keyframes charge {
  0% { background-position: 0% 100% }
  50% { background-position: 0% 0% }
  100% { background-position: 0% 100% }
}

#charge {
  animation: charge 6s linear infinite;
  background-color: var(--background-color-secondary);
  background-size: 100% 200%;
  border-radius: 0.5rem;
  border: 1px solid var(--background-color-secondary);
  padding-top: 50vh;
  position: relative;
  transition: background-color 500ms linear;
  width: 128px;
}
 
.charge--blue {
  background-color: var(--color-blue); 
  background-image: var(--gradient-blue);
}

.charge--green {
  background-color: var(--color-green); 
  background-image: var(--gradient-green);
}

.charge--yellow {
  background-color: var(--color-yellow); 
  background-image: var(--gradient-yellow);
}

.charge--red {
  background-color: var(--color-red); 
  background-image: var(--gradient-red);
}

#overlay {
  background-color: var(--background-color-secondary);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: top;
  transform: scaleY(0);
  width: 100%;
}

.has-transition {
  transition: transform 1s linear;
}

#display {
  color: var(--text-color-primary);
  font-size: 3rem;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#display svg {
  height: auto;
  width: 3rem;
}

.caption {
  font-weight: 700;
}

.caption:first-of-type {
  margin: 0.5rem 0 0.25rem;
}

.caption:last-of-type {
  color: var(--text-color-secondary);
  font-size: 0.75rem;
}

.favicon--green {
  stroke: var(--color-green); 
}

.favicon--yellow {
  stroke: var(--color-yellow); 
}

.favicon--red {
  stroke: var(--color-red); 
}

@keyframes pulse-once {
  0% { transform: translate(-50%, -50%) scale(1) }
  50% { filter: brightness(1.5); transform: translate(-50%, -50%) scale(1.1) }
  100% { filter: brightness(1); transform: translate(-50%, -50%) scale(1) }
}

.transition-pulse {
  animation: pulse-once 250ms ease-in-out;
}
